@model Forum.Models.Post

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="~/css/comments.css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" />

<div class="container mb-5">
    <div class="row mt -3 mb-3">
        <h4 class="col-3 me-3">@Model.Created</h4>
        <h4 class="col-3 me-3"><a asp-action="Details" asp-route-name="@Model.User.UserName">@Model.User.UserName</a></h4>
    </div>
    <div class="card">
        <div class="card-header">
            <h2>@Model.Title</h2>
        </div>  
        <div class="card-body">
            <p class="card-text">@Model.Body</p>
        </div>
        <div class="publisher bt-1 border-light">
            <button id="scroll">Отправить</button>
        </div>
    </div>
    <div id="comments">

    </div>

    <div id="targetDiv" class="border border-black border-2">
        <textarea type="text" id="commentBody" class="publisher-input" placeholder="Введите сообщение"></textarea>
        <button onclick="sendComment('@Model.User.UserName', @Model.Id)" id="submit" type="submit">Отправить</button>
    </div>

</div>


<script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
        crossorigin="anonymous">
</script>

<script>
    $('#scroll').click(function () {
        $('html, body').animate({
            scrollTop: $('#targetDiv').offset().top
        }, 500);
    });
    function sendComment(username, postId) {
        event.preventDefault();
        $.ajax({
            url: '@Url.Action("CreateAjax", "Comment")',
            type: 'POST',
            data: {'username': username, 'postId': postId, 'body': $('#commentBody').val()},
            success: function () {
                console.log('comment send successfully');
            },
            error: function(){
                console.log('error');
            }
        });
    }
    function loadComments() {
        $.ajax({
            url: '@Url.Action("GetComments", "Comment")',
            type: 'GET',
            success: function (data) {
                $('#comments').html(data);
                console.log('comments uploaded');
            },
            error: function () {
                console.log('error');
            }
        });
    }

    loadComments();

    setInterval(loadComments, 1000);

</script>

